@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
   </head>
<body>
    <div class="text-center">
        <h2>We're going to have an exciting party!</h2>
        <h2>And YOU are invited</h2>
        <h3>Where? The Party Center</h3>
        <h3>When? September 21, 2017 at 6:30 pm</h3>
        <p id="countdown"></p>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now!</a>
    </div>
</body>
</html>
